body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Varela Round', sans-serif;
    padding-top: 50px;
    padding-bottom: 20px;
    color: #594d49;
    background-color: #7fc7bb;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#loginForm {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 400px;
    font-family: 'BioRhyme', serif;
}


#loginFormCol {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-content: center;
    align-items: center;
    font-family: 'BioRhyme', serif;
}

#passTextLogin {
    text-align: left;
    font-family: 'BioRhyme', serif;
}

#emailTextLogin {
    text-align: left;
    font-family: 'BioRhyme', serif;
}

#loginBtn {
    display: flex;
    justify-content: space-around;
    font-family: 'BioRhyme', serif;
    border-radius: 20px ; 
}

#loginContainer {
    background-color: #f5f4f0;
    font-family: 'BioRhyme', serif;
    border-radius: 30px;
    width: 50%;
    background-color: #f7f5ed;
}

#loginText {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px;
    font-size: 40px;
}

#regLink {
    color: #9de4e6 ; 
}

#searchTable {
    border-spacing: 30px;
    border-collapse: separate;
}

#amiiboName {
    font-weight: bold;
    font-size: 40px ; 
}

#amiiboSeries {

}

#releaseDate {
    font-style: italic;

}

#nav-col {
    list-style: none;
    font-size: 45px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#nav-col li {
    list-style: none;
    margin-top: 10px ; 
    color: black ; 
    float: left;
    font-weight: bold; 
    
   
}

    #nav-col li a {
        list-style: none;
        margin-top: 10px;
        color: black;
        font-weight: bold;
        display: block;
        text-align: center;
        text-decoration: none;
    }

#nav-link-row{
    display: flex ; 
    justify-content: space-around;
}

#amiiboRow{
    text-align: center ; 
}

#amiiboCol1{
    text-align: center ;
}

#amiiboCol2{
    text-align: center
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    text-align: center;
    background-color: #f5f4f0;
}

.table {
    border-spacing: 12px;
    border-color: black;
}


#amiiboLink {
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    font-size: 35px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'BioRhyme', serif;
    text-decoration: none;
    color: #594d49; 
}

#amiiboLink a {
    text-decoration: none;
    color: #594d49;
    font-weight: bold ; 
}

#addRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    font-weight: bold;
    font-size: 20px;
}

.wishButton, #haveButton , .wishButton2{
    background: none;
    text-decoration: none;
    border: none;
    font-size: 35px;
}
