@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

</head>
<body>
    <div>
        <div class="row">
            <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
</div> 
    </div>
</body>
</html>
